body {
  height : 125vh; /*sets veiwport hieght of site to facilitate scrolling*/
  margin: 0 auto;
  max-width: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555; /* sets background color*/
}

header {
  color: #27C9F9 ;  /* sets header color*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;  
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}


a {
  color: #27C9F9;
}
