html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: black;
}

/* ================================================= NAVIGATION ==================================*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;  
  display: flex; /* set items to top*/
  z-index: 10000;
  justify-content: center;
  align-items: center;
  text-align: center; /* set top items to center*/
  transition: .2s ease-out;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: .1vh;
  text-transform: uppercase;
  font-size: 1.4vmax;
  max-width: 100%;
}
@media (max-height: 500px) {
  nav {
    height: 60px;
  }
}

.scroll {
  background-color: #212529;
  box-shadow: 0 0 25px 0 black; /* one of the many ways to give shadow. we basically only gave the blur parameter a nonstandard value for a simple shadow*/
}

.navbar {
  background-color: transparent;
}

nav * { /* * means any element, so here * means anything inside nav */
  display: inline;
  white-space:nowrap;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 5vw; /* set line items in nav x px apart */
}

nav li a {
  color : #27C9F9 ;
  text-decoration: none; /* override and remove underline style */
}

nav li a:hover,
.active {
  color: white;
}

body, main {
  margin: 0;
  background-color: transparent;
}

.particles-js{
  width: 100% !important;
  height: 100% !important;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -10;
  top: 0px;
  left: 0px;
  position: absolute;
  pointer-events: all;
  background-color: black;
}

.break {
  background-color: #212529;
  height: 0vh;
}

/* ============================================== HEADER ================================== */
header{
  height: 63vh ;
}

.text-muted {
  font-size: 22px;
  font-family: "Times New Roman";
  color: gray;
}

header.masthead {
  padding-top: 17rem;
  padding-bottom: 0rem;
  text-align: center;
  color: #fff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  pointer-events: none;
}

header.masthead .masthead-tagline {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  /* color: #fed136; */
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* z-index: 2 */
  /*a nimation: typing 7s steps(15, end), 
  blink-caret .5s step-end infinite alternate;*/
}
header.masthead .masthead-name {
  font-size: 5rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  /* margin-bottom: 0rem; */
  color: #27C9F9;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* behavior: url(../js/particles.js) */
  /* z-index: 2 */
}

@media (min-width: 768px) {
  header.masthead {
    padding-bottom: 0rem;
    /*12.5 padding-top: 0rem;
    padding-bottom: 0rem; */
  }
  header.masthead .masthead-tagline {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-name {
    font-size: 6rem;
    font-weight: 700;
    line-height: 4.5rem;
    /* margin-bottom: 4rem; */
  }
}

/* ================================= SECTION GENERALIZABLES===========================*/
section, header {
  display: block;
}

section {
  display: flex; 
  padding-bottom: 5rem ;
}

.section-header {
  margin-top: 5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
  font-size: 3.5vmax ;
  color: black;
  padding-bottom: 1vh ;
  text-transform: uppercase ;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-text-muted * {
  display: inline;
  font-style: italic;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-text-muted-bottom {
  margin-top:.7vmax;
  margin-bottom: 2vmax;
  font-weight: 700;
  font-size: 1.6vmax;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: gray;
}

a {
  color: #27C9F9; /* sets link color*/
}

.container {
  display: flex ; /*might not be necessary*/
  flex-direction: column;
  width: 90%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* ============================ Timeline ============================== */
section#timeline {
  background-color: white;
}
#timeline .section-text-muted {
  padding-bottom: 2rem;
}

.timeline-date, .timeline-title {
  margin-bottom: 0.9vh;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 1.6vmax;
  line-height: 1.2;
  inline-size: 20vmax ;
}

.timeline-text{
  color: #6c757d !important;
  text-decoration: none;
  justify-content: left;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  inline-size: 28vmax ;
  font-size: 1.15vmax;
}

.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1vw;
  background-color: #e9ecef;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  z-index: 1;
}

.flex-timeline{
  display: flex;
  flex-direction: column; 
  width: 72.3vw;
}

.flex-timeline-item-left{
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /*makes all the items within the flexbox centered on this flexbox's horizontal axis*/
  justify-content: flex-end;
  height: 15vmax ;
}

.flex-timeline-item-right{
  display: flex;
  flex-direction: row;
  align-items: center; /*makes all the items within the flexbox centered on this flexbox's horizontal axis*/
  justify-content: flex-end;
  height: 15vmax;
}

.flex-timeline-item-right  .flex-timeline-item-body{
  align-content: flex-end;
  position: relative ;
  text-align: left;
  padding-left: 2vw ;
}

.flex-timeline-item-left .flex-timeline-item-body{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-right: 2vw ;
}

@media (max-width: 700px) {
  .flex-timeline-item-left .flex-timeline-item-body {
    align-items: flex-start;
    text-align: left;
    padding-left: 2vw ;
  }

  .flex-timeline-item-left{
    flex-direction: row;
    align-items: center; /*makes all the items within the flexbox centered on this flexbox's horizontal axis*/
    justify-content: flex-start;
    padding-left: 6vw;
  }

  .flex-timeline-item-right{
    flex-direction: row;
    align-items: center; /*makes all the items within the flexbox centered on this flexbox's horizontal axis*/
    justify-content: flex-start;
    padding-left: 6vw;
  }

  .timeline::after {
    width: 0vw;
  }
}

.rounded-circle-timeline{
  z-index: 2;
  width: 11vmax;
  height: 11vmax;
  color: white;
  border: .7vmax solid #e9ecef;
  border-radius: 100%;
  /* background-color: #fed136; */
  background-color: white;
  position: relative; 
  line-height: 14px;
  align-items: center; /*makes all the items within the flexbox centered on this flexbox's horizontal axis*/
  justify-content: center;
}

/*============================== Skills =============================================*/

section#languages {
  background-color: #FAFAFA;
}


.languages-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 90%; /* of .skills-container */
}

.language { 
  /* set in one line */
  display: inline;
  white-space: nowrap;
  justify-content: center;
  align-items: center;

  /* text formatting */
  color: #2276ed;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5vw;
  font-weight: 500;

  /* shape formatting */
  background-color: #e7f1fd ;
  border-radius: .5vw;
  margin-inline: .5vw;
  text-align: center;
  padding-top: .3vw;
  padding-bottom: .3vw; 
  padding-left: 1vw;
  padding-right: 1vw;
}

/*============================== Portfolio =============================================*/

section#portfolio {
  background-color: white;
}

section#portfolio .section-text-muted{
  padding-bottom: 3vh;
}

.portfolio-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: .8vw;
  width: 90%; /* of .container */
}

.portfolio-container * {
  text-decoration: none;
}

.portfolio-item {
  margin: 1vmax;
  height: 28vmax;
  width: 22vmax;
  align-items: center;
  border: .05vmax solid transparent;
  box-shadow: 0 0 2vmax 0 #EEEFEF; /* one of the many ways to give shadow. we basically only gave the blur parameter a nonstandard value for a simple shadow*/
  background-color: #F9FDFF;
  display: flex;
  flex-direction: column;
  border-radius: .8vw;
}

.portfolio-item:hover {
  border-color: transparent;
  transition: .3s ease-in-out;
  box-shadow: 0 0 3vmax 0 #C8DEE8; /* one of the many ways to give shadow. we basically only gave the blur parameter a nonstandard value for a simple shadow*/
}

.portfolio-image {
  height: 6vmax;
  width: 6vmax;
  border-radius: 10%;
  margin-top: 4vmax;
  margin-bottom: .3vmax;
  border: .3vmax solid transparent;

}

.portfolio-item:hover .portfolio-image {
  border: .3vmax solid #EAF1F5;
  transition: .3s ease-in-out; 
}

.portfolio-title {
  text-align: center;
  width: 20vmax;
  font-weight: 630;
  font-size: 2vmax;
  color: black;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: .15s ease-in-out;
  margin-bottom: .5vmax;
  line-height: 2vmax;
}

.portfolio-item:hover .portfolio-title {
  color: #27C9F9;
}

.portfolio-desc {
  text-align: center;
  width: 20vmax;
  font-size: 1vmax;
  color: gray;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*============================== Life =============================================*/

section#life {
  background-color: #FAFAFA;
}


.life-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 90%; /* of .container */
}

.life-container::after {
  content: '';
  position: absolute;
  width: 50vw;
  background-color: #e9ecef;
  top: 0;
  bottom: 0;
  top: 37%;
  margin-left: -3px;
  z-index: 1;
  height: 1vw;
}
@media (max-width = 700px) {
  .life-container::after {
    width: 0px;
  }
}

.life-container * {
  text-decoration: none; /* this whole mf is a URL */
}

.life-item {
  margin: 1vmax;
  height: 20vw;
  width: 15vw;
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 2.5vmax;
  padding-right: 2.5vmax;
}

.life-image {
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  margin-bottom: 1vmax;
  border: .7vmax solid #e9ecef;
  z-index: 2;
}

.life-title {
  text-align: center;
  color: black;
  margin-bottom: 0.9vh;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 1.6vmax;
  line-height: 1.2;
  inline-size: 20vmax ;
  width: 15vmax;
}

.life-desc {
  text-align: center;
  color: #6c757d !important;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  inline-size: 28vmax ;
  font-size: 1.15vmax;
  width: 15vmax;
}


/* -----------------------------CONTACT-------------------------------- */

section#contact {
  /* background-color: #212529; */
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#contact > .container > .section-header {
  font-size: 3vmax ;
  padding-bottom: 3vh ;
  margin-top: 2rem;
}

section#contact > .container > .section-text-muted{
  font-size: 1.2vmax ;
  font-family: "Times New Roman" ;
  color: grey ;
  margin-bottom: 0.5rem;
  font-style: normal ;
  text-align: center;
}

#contact-photo {
  width: 13vw;
  height: 13vw;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
@media (max-width: 800px) {
  #contact-photo {
    width: 25vw;
    height: 25vw;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}

.name-again{
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.6vmax;
  color: black;
  font-weight: bold;
  padding: .5vmax;
}

.section-text-muted{
  font-size: 1.5vmax ;
  font-family: "Times New Roman" ;
  color: grey ;
  margin-bottom: 0.5rem;
  font-style: italic ;
  text-align: center;
}
 
.pointsofcontact * { 
  padding: 8px;
  display: inline;
  text-decoration: none;
  text-transform: uppercase ;
  margin: .05vw;
}

.contact-method-photos{
  z-index: 1;
  width: 4vmax;
  height: 4vmax;
  color: white;
  border: .0.5rem solid #e9ecef;
  border-radius: 100%;
  /* background-color: #fed136; */
  background-color: white;

}

/*=============================================== FOOTER ===================================*/

footer{
  background-color: #212529 ;
  height: 8vh;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center; 
  justify-content: center;
  font-size: 1.4vmax;
  color: #27C9F9;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
