html {
  scroll-behavior: smooth;
}

/* ================================================= NAVIGATION ==================================*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;  
  display: flex; /* set items to top*/
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center; /* set top items to center*/
  transition: background-color .2s ease-out;
  box-shadow: 0 0 25px 0 black; /* one of the many ways to give shadow. we basically only gave the blur parameter a nonstandard value for a simple shadow*/
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: .1vh;
  text-transform: uppercase ;
  font-size: 1.4vmax
}

.scroll {
  background-color: #212529;
}

.navbar {
  background-color: transparent;
}

nav * { /* * means any element, so here * means anything inside nav */
  display: inline;
  white-space:nowrap;
}

nav li {
  margin: 5vw; /* set line items in nav x px apart */
}

nav li a {
  color : #27C9F9 ;
  text-decoration: none; /* override and remove underline style */
}

nav li a:hover {
  color: white ;

}

body {
  margin: 0;
  /*height : 80vh; sets veiwport hieght of site to facilitate scrolling*/
  /*margin-top: 80px; set equal to the header so webpage doesn't sit below header */

}

#particles-js{
  /* pointer-events: stroke; */
  width: 100% !important;
  height: 100% !important;
  /* background-color: #4850a9; */
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -10;
  top: 0px;
  left: 0px;

  position: absolute;
  pointer-events: all;
}


/* ============================================== HEADER ================================== */
header{
  height: 63vh ;
}

.text-muted {
  font-size: 22px;
  font-family: "Times New Roman";
  color: gray;
}

header.masthead {
  padding-top: 0rem;
  padding-bottom: 0rem;
  text-align: center;
  color: #fff;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  pointer-events: none;
}

header.masthead .masthead-tagline {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  /* color: #fed136; */
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* z-index: 2 */
  /*a nimation: typing 7s steps(15, end), 
  blink-caret .5s step-end infinite alternate;*/
}
header.masthead .masthead-name {
  font-size: 5rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  /* margin-bottom: 0rem; */
  color: #27C9F9;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* behavior: url(../js/particles.js) */
  /* z-index: 2 */
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 0rem;
    /*12.5 padding-top: 0rem;
    padding-bottom: 0rem; */
  }
  header.masthead .masthead-tagline {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-name {
    font-size: 6rem;
    font-weight: 700;
    line-height: 4.5rem;
    /* margin-bottom: 4rem; */


  }
}

/* ================================= SECTION ===========================*/

section, header {
  display: block;
}

section {
  display: flex;

 
  padding-bottom: 5rem ;
}


.section-header {
  margin-top: 5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
  font-size: 3.5vmax ;
  color: black;
  padding-bottom: 1vh ;
  text-transform: uppercase ;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-text-muted * {
  display: inline;
  font-style: italic;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: #27C9F9; /* sets link color*/
}

.container {
  display: flex ; /*might not be necessary*/
  flex-direction: column;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* ============================ Timeline ============================== */
#timeline .section-text-muted {
  padding-bottom: 2rem;
}

.timeline-date, .timeline-title {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 1.6vmax;
  line-height: 1.2;
  inline-size: 20vmax ;
}

.timeline-text{
  color: #6c757d !important;
  text-decoration: none;
  justify-content: left;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  inline-size: 28vmax ;
}



.flex-timeline{
  display: flex;
  flex-direction: column;
}

.flex-timeline-item-left{
  display: flex;

  align-items: center; /*makes all the items within the flexbox centered on this flexbox's horizontal axis*/
  justify-content: center;
  height: 30vh;
}

.flex-timeline-item-right{
  display: flex;

  align-items: center; /*makes all the items within the flexbox centered on this flexbox's horizontal axis*/
  justify-content: center; /*vertical axis*/
  height: 30vh;
  position: relative;
  float: right;
}

.flex-timeline-item-right .flex-timeline-item-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;
}

.flex-timeline-item-right .flex-timeline-item-body{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  text-align: right;
}


.rounded-circle-timeline{
  z-index: -2;
  width: 11vmax;
  height: 11vmax;
  color: white;
  border: .7vmax solid #e9ecef;
  border-radius: 100%;
  /* background-color: #fed136; */
  background-color: white;
  position: absolute; 
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 14px;
  float: left;
}


/*============================== Portfolio =============================================*/

section#portfolio {
  background-color: #f8f9fa;
}

/* -----------------------------CONTACT-------------------------------- */

section#contact {
  /* background-color: #212529; */
  background-color: #e9ecef;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#contact > .container > .section-header {
  font-size: 2.2vmax ;
  padding-bottom: 7vh ;
  margin-top: 2rem;
}

section#contact > .container > .section-text-muted{
  font-size: 1.2vmax ;
  font-family: "Times New Roman" ;
  color: grey ;
  margin-bottom: 0.5rem;
  font-style: normal ;
  text-align: center;
}

#contact-photo {
  width: 13rem;
  height: 13rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.name-again{
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.6vmax;
  color: black;
  font-weight: bold;
  padding: .5vmax;
}

.section-text-muted{
  font-size: 22px ;
  font-family: "Times New Roman" ;
  color: grey ;
  margin-bottom: 0.5rem;
  font-style: italic ;

  text-align: center;
}
 
.pointsofcontact * { 
  padding: 8px;
  display: inline;
  text-decoration: none;
  text-transform: uppercase ;
  margin: .05vw;
  font-family: "Arial";
  margin-bottom: 0.5rem;
}

.contact-method-photos{
  z-index: 0;
  width: 4vmax;
  height: 4vmax;
  color: white;
  border: .0.5rem solid #e9ecef;
  border-radius: 100%;
  /* background-color: #fed136; */
  background-color: white;

}

/*=============================================== FOOTER ===================================*/

footer{
  background-color: white ;
}

.footer {
  text-align: center;
  margin: 3.5vh;  
  font-size: 0.9rem;
  color: black;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
